html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}main{display:block}a{background-color:transparent;-webkit-text-decoration-skip:objects}img{border-style:none}button,input{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button{text-transform:none}button{-webkit-appearance:button}button::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring{outline:1px dotted ButtonText}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

body {
    margin: 0
}

footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

main {
    display: block
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

img {
    border-style: none
}

button,
input {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button {
    text-transform: none
}

button {
    -webkit-appearance: button
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring {
    outline: 1px dotted ButtonText
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}
*,
*:before,
*:after {
    box-sizing: inherit
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(00 0 0);
    overflow: hidden;
}



body {
    margin: 0
}

footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

main {
    display: block
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

img {
    border-style: none
}

button,
input {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button {
    text-transform: none
}

button {
    -webkit-appearance: button
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring {
    outline: 1px dotted ButtonText
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}


*,
*:before,
*:after {
    box-sizing: inherit
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(00 0 0);
    overflow: hidden;
}


body {
    margin: 0
}

footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

main {
    display: block
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

img {
    border-style: none
}

button,
input {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}
a:hover{
    color: blue;
}

button,
input {
    overflow: visible
}

button {
    text-transform: none
}

button {
  
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring {
    outline: 1px dotted ButtonText
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

*,
*:before,
*:after {
    box-sizing: inherit
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(00 0 0);
    overflow: hidden;
}


body {
    margin: 0
}

footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

main {
    display: block
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

img {
    border-style: none
}

button,
input {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring {
    outline: 1px dotted ButtonText
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(00 0 0);
    overflow: hidden;
}


body {
    margin: 0;
}

footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

main {
    display: block;
}
a {
    text-decoration: none;
    color: red;
}

ul{
    list-style-type: none;
}
.black {
    color: #231f1f;
    font-weight: 560;
    letter-spacing: 1px;
}

img {
    border-style: none
}

button,
input {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button {
    text-transform: none
}

button {
    -webkit-appearance: button
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring {
    outline: 1px dotted ButtonText
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}


*,
*:before,
*:after {
    box-sizing: inherit
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(00 0 0);
    overflow: hidden;
}

* {
    box-sizing: border-box;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

nav {
    float: right;
    margin-top: -35px;
    margin-right: 130px;
}

nav li {
    display: inline;
    list-style: none;
    padding: 0 10px 0 10px;
    font-family: 'Cabin', sans-serif;
}

#tagline {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    padding-left: 200px;
}

.clr {
    clear: both;
    /* to clear extra floats */
}

.navigationBar {
    background-color: #f7f7f7;
    padding-bottom: 10px;
    padding-top: 10px;
    /*/just to test*/
}


/* --------------------------------------------- */

.dogText {
    width: 440px;
    position: absolute;
    background-color: #f7f7f7;
    top: 40%;
    left: 8%;
}

#dog {
    width: 100vw;
    position: relative;
}
.dogText h2 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: center;
}

.dogText p {
    font-weight: 400;
    padding: 10px 25px;
}


/* ---------------------------------------------------- */

.welcomeSection {
    padding-bottom: 65px;
    
    border-top-width: 0px;
    border-top-style: solid;
    padding-top: 11px;
    margin-top: -10px;
    background-color: #f7f7f7;
    
}

.welcomeSection h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-top: 18px;
}

#welcomeImg {
    padding-left: 25%;
    padding-top: 0px;
}

.left,
.right {
    padding-left: 10px;
    padding-right: 10px;
}

.left {
    float: left;
    position: relative;
    top: 115px;
    left: 180px;
}

.right {
    float: right;
    position: relative;
    top: 115px;
    right: 180px;
}

.text {
    text-align: center;
    font-size: 18px;
}

.date {
    text-align: center;
    font-style: italic;
    font-family: 'Playfair Display', sans-serif;
}


/*--------------------- GRID --------------------------*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 260px;
    padding-right: 250px;
    grid-row-gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.cell {
    width: 423px;
}

.about {
    margin-top: -30px;
    padding-left: 25px;
    font-family: 'Cabin', sans-serif;
    background-color: #f7f7f7;
    margin-right: 35px;
}

span p {
    margin-top: -20px;
}

.dateBtn {
    position: relative;
    top: -20px;
    left: 280px;
    width: 100px;
    padding-top: 2px;
    letter-spacing: 1.2px;
    padding-bottom: 2px;
    background-color: rgb(251, 0, 0);
    border: none;
    color: #fff;
    padding-left: 2px;
    padding-right: 2px;
    font-family: 'Cabin', sans-serif;
    font-size: small;
}

.footerwrapper {
    width: 100%;
    background-color: rgb(68, 68, 68);
    overflow: hidden;
    padding: 40px 0;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 0.4fr 1fr;
}
.box2{
    padding-left: 60px;
    

}
.box1{
    padding-left: 50px;
    color: #fff;
}
.box3{
    color: #fff;
    padding-right: 50px;
}
.box2 a{  
    color: #fff;
    text-decoration: none;
}
input[type="email"]{
    padding: 8px;
    border: none;
}
.box3 button{
    background-color: red;
    border: none;
    padding: 8px;
    color: #fff;
}
.socialwrapper {
    width: 100%;
    padding-top: 15px;
    border: solid 1.3px #000;
    background-color: rgb(35, 30, 30);
    overflow: hidden;
    padding: 10px 0;
    padding-bottom: 0px;
    color: white;
    padding-left: 6.3%;
}
.icons{
    margin-top: -55px;
    float: right;
    margin-right: 150px;
}
.white{
    color:white;
    margin:0 0 1rem
    
}
.dateBtn:hover{
    background-color: orange;
    transition: 0.5s;
    cursor: pointer;
}
.box3 button:hover{
    background-color: orange;
    cursor: pointer;
    transition: 0.5s;
}



/*================== media queries =================*/
@media screen and (max-width: 867px){
    #tagline{
        text-align: center;
        margin-left: 0;
        padding-left: 0 !important;
}
nav {
    text-align: center;
    float: none;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    max-width: none;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 0 10px;
    font-family: 'Cabin', sans-serif;
    text-align: center;
}

/* --------------------------------------------- */

.dogText {
    width: auto;
    position: none;
    background-color: #f7f7f7;
    margin-top: 150px;
    left: 0;
    
}

#dog {
    width: 100vw;
    position: none;
    margin-bottom: 250px;
}
.dogText h2 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: center;
}

.dogText p {
    font-weight: 400;
    padding: 10px 25px;
}


/* ---------------------------------------------------- */

/* ---------------------------------------------------- */

.welcomeSection {
    padding-bottom: 15px;
    
    border-top-width: 0px;
    border-top-style: none;
    padding-top: 11px;
    margin-top: 0px;
    background-color: #f7f7f7;
    
}

.welcomeSection h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-top: 0px;
}

#welcomeImg {
    padding-left: 0;
    padding-top: 0px;
    width: auto;
}

.left,
.right {
    padding-left: 10px;
    padding-right: 10px;
}

.left {
    float: left;
    position: relative;
    top: 115px;
    left: 50%;
}

.right {
    float: right;
    position: relative;
    top: 115px;
    right: 180px;
}

.text {
    text-align: center;
    font-size: 18px;
}

.date {
    text-align: center;
    font-style: italic;
    font-family: 'Playfair Display', sans-serif;
}

/*--------------------- GRID --------------------------*/

.grid {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 16%;
    grid-row-gap: 20px;
    margin-top: 10px;

}


.about {
    margin-top: -42px;
    padding-left: 5px;
    font-family: 'Cabin', sans-serif;
    background-color: #f7f7f7;
    margin-right: 0;
    width: 360px;
}

span p {
    margin-top: -20px;
}

.dateBtn {
    position: relative;
    top: -19px;
    left: 230px;
    width: 100px;
    padding-top: 2px;
    letter-spacing: 1.2px;
    padding-bottom: 2px;
    background-color: rgb(251, 0, 0);
    border: none;
    color: #fff;
    padding-left: 2px;
    padding-right: 2px;
    font-family: 'Cabin', sans-serif;
    font-size: small;
}
.cell img{
    width: 360px;
}


/*--- footer wrapper ------------*/
.footerwrapper {
    width: 100%;
    background-color: rgb(68, 68, 68);
    overflow: hidden;
    padding: 40px 0;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;
}
.box2{
    padding-left: 0px;
    text-align: center;
    
}

.box2 li{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.box1{
    padding-left: 20px;
    color: #fff;
    padding-bottom: 30px;
}
.box3{
    color: #fff;
    padding-right: 20px;
    padding-top: 30px;
    padding-left: 20px;
}
.box2 a{  
    color: #fff;
    text-decoration: none;
}
.box2 a:hover{
    color: red;
    transition: 0.5s;
}
input[type="email"]{
    padding: 8px;
    border: none;
    display: block;
    width: 100%;
}
.box3 button{
    background-color: red;
    border: none;
    padding: 8px;
    display: block;
    width: 100%;
    margin-top: 8px;
}

.box3 button:hover{
    background-color: orange;
    cursor: pointer;
    transition: 0.5s;
}

.socialwrapper {
    width: 100%;
    padding-top: 15px;
    border: solid 1.3px #000;
    background-color: rgb(35, 30, 30);
    overflow: hidden;
    padding: 10px 0;
    padding-bottom: 0px;
    color: white;
    padding-left: 6.3%;
}
.icons{
margin-top: -55px;
float: right;
margin-right: 10%;
}


}

@media only screen and (min-width: 868px) and (max-width: 1200px){
   
   nav {
    float: right;
    margin-top: -35px;
    margin-right: 20px;
}

nav li {
    display: inline;
    list-style: none;
    padding: 0 10px 0 10px;
    font-family: 'Cabin', sans-serif;
}

#tagline {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    padding-left: 50px;

}

.clr {
    clear: both;
    /* to clear extra floats */
}

.navigationBar {
    background-color: #f7f7f7;
    padding-bottom: 10px;
    padding-top: 10px;
    /*/just to test*/
}


/* --------------------------------------------- */

.dogText {
    width: 440px;
    position: absolute;
    background-color: #f7f7f7;
    top: 30%;
    left: 8%;
}

#dog {
    width: 100vw;
    position: relative;
}
.dogText h2 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: center;
}

.dogText p {
    font-weight: 400;
    padding: 10px 25px;
}


/* ---------------------------------------------------- */

.welcomeSection {
    padding-bottom: 65px;
    
    border-top-width: 0px;
    border-top-style: solid;
    padding-top: 11px;
    margin-top: -10px;
    background-color: #f7f7f7;
    
}

.welcomeSection h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-top: 18px;
}

#welcomeImg {
    padding-left: 10%;
    padding-top: 0px;
    width: auto;
}



.left {
    float: left;
    position: relative;
    top: 115px;
    left: 80px;
}

.right {
    float: right;
    position: relative;
    top: 115px;
    right: 76px;
}

.text {
    text-align: center;
    font-size: 18px;
}

.date {
    text-align: center;
    font-style: italic;
    font-family: 'Playfair Display', sans-serif;
}


/*--------------------- GRID --------------------------*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
    padding-right: 0px;
    grid-row-gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.cell {
    width: 423px;
}

.about {
    margin-top: -30px;
    padding-left: 25px;
    font-family: 'Cabin', sans-serif;
    background-color: #f7f7f7;
    margin-right: 35px;
}

span p {
    margin-top: -20px;
}

.dateBtn {
    position: relative;
    top: -20px;
    left: 280px;
    width: 100px;
    padding-top: 2px;
    letter-spacing: 1.2px;
    padding-bottom: 2px;
    background-color: rgb(251, 0, 0);
    border: none;
    color: #fff;
    padding-left: 2px;
    padding-right: 2px;
    font-family: 'Cabin', sans-serif;
    font-size: small;
}

.footerwrapper {
    width: 100%;
    background-color: rgb(68, 68, 68);
    overflow: hidden;
    padding: 40px 0;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 0.4fr 1fr;
}
.box2{
    padding-left: 60px;
    

}
.box1{
    padding-left: 50px;
    color: #fff;
}
.box3{
    color: #fff;
    padding-left:  30px;
}
.box2 a{  
    color: #fff;
    text-decoration: none;
}
input[type="email"]{
    padding: 8px;
    border: none;
}
.box3 button{
    background-color: red;
    border: none;
    padding: 8px;
    color: #fff;
}
.socialwrapper {
    width: 100%;
    padding-top: 15px;
    border: solid 1.3px #000;
    background-color: rgb(35, 30, 30);
    overflow: hidden;
    padding: 10px 0;
    padding-bottom: 0px;
    color: white;
    padding-left: 6.3%;
}
.icons{
    margin-top: -55px;
    float: right;
    margin-right: 150px;
}
.white{
    color:white;
    margin:0 0 1rem
    
}
.dateBtn:hover{
    background-color: orange;
    transition: 0.5s;
    cursor: pointer;
}
}






@media only screen and (min-width: 802px) and (max-width: 864px){
.welcomeSection {
    padding-bottom: 15px;
    border-top-width: 0px;
    border-top-style: none;
    padding-top: 11px;
    margin-top: 0px;
    background-color: #f7f7f7;
    
}

.welcomeSection h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-top: 0px;
}

#welcomeImg {
    padding-left: 55px;
    padding-top: 0px;
    width: auto;
}
.left {
    float: left;
    position: relative;
    top: 100px;
    left: 10px;
    color: #000;
}

.right {
    float: right;
    position: relative;
    top: 100px;
    right: 40px;
    color: #000;
}
.dogText {
    width: auto;
    position: absolute;
    background-color: #f7f7f7;
    top: 70%;
    left: 0;
    height: auto !important;
}

#dog {
    width: 100vw;
    position: relative;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 40px;
    padding-right: 0px;
    grid-row-gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

}
}

@media only screen and (min-width: 320px) and (max-width: 462px){
.welcomeSection {
    padding-bottom: 15px;
    
    border-top-width: 0px;
    border-top-style: none;
    padding-top: 11px;
    margin-top: 100px;
    background-color: #f7f7f7;
    
}

.welcomeSection h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-top: 0px;
}

#welcomeImg {
    padding-left: 0px;
    padding-top: 0px;
    width: 100vw;
}
.dogText {
    width: auto;
    
    position: absolute;
    background-color: #f7f7f7;
    top: 30%;
    left: 0;
    height: auto !important;
}

#dog {
    width: 100vw;
    position: relative;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 5px;
    padding-right: 0px;
    grid-row-gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

}
.left,
.right {
    padding-left: 10px;
    padding-right: 10px;

}

.left {
    float: left;
    position: relative;
    top: -100px;
    left: 10px;
    color: #000;
}

.right {
    float: right;
    position: relative;
    top: -100px;
    right: 10px;
    color: #000;
}
}


@media only screen and (min-width: 200px) and (max-width: 318px){
.welcomeSection {
    padding-bottom: 15px;
    
    border-top-width: 0px;
    border-top-style: none;
    padding-top: 11px;
    margin-top: 200px;
    background-color: #f7f7f7;
    
}

.welcomeSection h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-top: 0px;
    font-size: 28px;
}

#welcomeImg {
    padding-left: 0px;
    padding-top: 0px;
    width: 100vw;
}
.dogText {
    width: auto;
   
    position: absolute;
    background-color: #f7f7f7;
    top: 20%;
    left: 0;
    height: auto !important;
}

#dog {
    width: 100vw;
    position: relative;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 5px;
    padding-right: 0px;
    grid-row-gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

}
.cell {
    width: 270px !important;
}
.about {
    margin-top: -30px;
    padding-left: 25px;
    font-family: 'Cabin', sans-serif;
    background-color: #f7f7f7;
    margin-right: 35px;
}

.left,
.right {
    padding-left: 10px;
    padding-right: 10px;

}

.left {
    float: left;
    position: relative;
    top: -100px;
    left: 10px;
    color: #000;
}

.right {
    float: right;
    position: relative;
    top: -100px;
    right: 10px;
    color: #000;
}
}




@media only screen and (min-width: 698px) and (max-width: 794px){
.welcomeSection {
    padding-bottom: 15px;
    
    border-top-width: 0px;
    border-top-style: none;
    padding-top: 11px;
    margin-top: 0px;
    background-color: #f7f7f7;
    
}

.welcomeSection h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-top: 0px;
    font-size: 28px;
}

#welcomeImg {
    padding-left: 0px;
    padding-top: 0px;
    width: 100vw;
}
.dogText {
    width: auto;
    position: absolute;
    background-color: #f7f7f7;
    top: 60%;
    left: 0;
    height: auto !important;
}

#dog {
    width: 100vw;
    position: relative;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 5px;
    padding-right: 0px;
    grid-row-gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

}



.left,
.right {
    padding-left: 10px;
    padding-right: 10px;

}

.left {
    float: left;
    position: relative;
    top: -200px;
    left: 10px;
    color: #000;
}

.right {
    float: right;
    position: relative;
    top: -200px;
    right: 10px;
    color: #000;
}
}

@media only screen and (min-width: 464px) and (max-width: 697px){
.welcomeSection {
    padding-bottom: 15px;
    
    border-top-width: 0px;
    border-top-style: none;
    padding-top: 11px;
    margin-top: 30px;
    background-color: #f7f7f7;
    
}

.welcomeSection h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-top: 0px;
    font-size: 28px;
}

#welcomeImg {
    padding-left: 0px;
    padding-top: 0px;
    width: 100vw;
}
.dogText {
    width: auto;
   
    position: absolute;
    background-color: #f7f7f7;
    top: 40%;
    left: 0;
    height: auto !important;
}

#dog {
    width: 100vw;
    position: relative;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 50px;
    padding-right: 0px;
    grid-row-gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

}





.left {
    float: left;
    position: relative;
    top: -130px;
    left: 10px;
    color: #000;
}

.right {
    float: right;
    position: relative;
    top: -130px;
    right: 10px;
    color: #000;
}
}
